* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:rgb(194, 193, 193);
}
.nav-content {
    height: 40px;
    background: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0px 60px
}
.content-header {
    position: relative;
    width: 100%;
    max-width: 800px;
    min-height: 1000px;
    background: white;
    margin: 10px;
    box-shadow: 0 35px 50px;
    padding: 50px 235px;
    margin: auto;
}
.title {
    padding: 5px 20px;
    margin-bottom: 20px;
}
.title h1 {
    text-align: center;
    font-size: 30px;
}
.title b {
    font-size: 10px;
    border: none;
    background: gray;
    border-radius: 2px solid;
}
.title p {
    font-size: 20px ;
    text-align: center;
}
.img-header img {
    width: 800px;
    margin: 5px -235px; 
}
.content-body {
    position: relative;
    width: 100%;
    max-width: 800px;
    min-height: 1000px;
    background: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px 360px;
    box-shadow: 0 35px 50px;
}
.content-body .content-left {
    background: white;
    padding: 40px;
    border: 5px solid;
    margin: 5px;
}
.content-body .content-right{
    background: white;
    padding: 40px;
    border: 5px solid;
    margin: 5px;
}
.content-left-1 .header {
    text-align: center;
    margin: -5px;
}
.content-left-1 .header h1{
    padding-top: 10px;
    font-size: 20px;
}
.content-left-1 .header p{
   padding-top: 10px ;
}
.img-1  img {
    width: 110%;
    padding-left: 3px;
    margin-left: -42px;
    margin-top: 15px;
}
.content-left-1 .content {
    margin: 10px -30px;
}
.icon .icon-left {
    float: left;
    border: none;
    box-shadow: 0 0px 3px;
    border-radius: 2px;
    width: 55px;
    height: 23px;
    text-align: center;
}
.icon .icon-right {
    float: right;
    background: black;
    border: none;
    color: white;
    box-shadow: 0 0px 3px;
    border-radius: 1px;
    width: 85px;
    height: 23px;
    text-align: center;
}
.icon-right span {
    border: none;
    width: 50px;
    padding-left: 10px;
    border-radius: 1px;
    background: aliceblue;
    color: black;
    margin: 5px 5px;
    padding: 0px 5px;
}
.icon {
    margin: 25px 0px;
}
.comment {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: -38px;
    border-width: 1px;
    box-shadow: 0 -2px 5px;
    width: 110%;
}

.comment .avatar img {
    height: 80px;
}

/* ------------------------------------ */
.content-left-2 .header-2 {
    text-align: center;
    margin: -5px;
    margin-top: 20px;
}
.content-left-2 .header-2 h1{
    padding-top: 10px;
    font-size: 20px;
}
.content-left-2 .header-2 p{
   padding-top: 10px ;
}
.img-2  img {
    width: 110%;
    padding-left: 3px;
    margin-left: -42px;
    margin-top: 15px;
}
.content-left-2 .content-2 {
    margin: 10px -30px;
}
.icon-2 .icon-left-2 {
    float: left;
    border: none;
    box-shadow: 0 0px 3px;
    border-radius: 2px;
    width: 55px;
    height: 23px;
    text-align: center;
}
.icon-2 .icon-right-2 {
    float: right;
    background: black;
    border: none;
    color: white;
    box-shadow: 0 0px 3px;
    border-radius: 1px;
    width: 85px;
    height: 23px;
    text-align: center;
}
.icon-right-2 span {
    border: none;
    width: 50px;
    padding-left: 10px;
    border-radius: 1px;
    background: aliceblue;
    color: black;
    margin: 5px 5px;
    padding: 0px 5px;
}
.icon-2 {
    margin: 25px 0px;
}
.comment-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: -38px;
    border-width: 1px;
    box-shadow: 0 -2px 5px;
    width: 110%;
}

.comment .avatar img {
    height: 80px;
}
/* 333333333333333333333333333333333333333333333333333333333333333333333333333333333 */

.content-left-3 .header-3 {
    text-align: center;
    margin: -5px;
    margin-top: 60px;
}
.content-left-3 .header-3 h1{
    padding-top: 10px;
    font-size: 20px;
}
.content-left-3 .header-3 p{
   padding-top: 10px ;
}
.img-3  img {
    width: 110%;
    padding-left: 3px;
    margin-left: -42px;
    margin-top: 15px;
}
.content-left-3 .content-3 {
    margin: 10px -30px;
}
.icon-3 .icon-left-3 {
    float: left;
    border: none;
    box-shadow: 0 0px 3px;
    border-radius: 2px;
    width: 55px;
    height: 23px;
    text-align: center;
}
.icon-3 .icon-right-3 {
    float: right;
    background: black;
    border: none;
    color: white;
    box-shadow: 0 0px 3px;
    border-radius: 1px;
    width: 85px;
    height: 23px;
    text-align: center;
}
.icon-right-3 span {
    border: none;
    width: 50px;
    padding-left: 10px;
    border-radius: 1px;
    background: aliceblue;
    color: black;
    margin: 5px 5px;
    padding: 0px 5px;
}
.icon-2 {
    margin: 25px 0px;
}
/* right---------- */
.img-right img {
    width: 100%;
    height: 150px;
    box-shadow: 0 1px 7px;
}
.list-music .title h3{
    border: 1px solid;
    width: 250px;
    margin: 10px -20px;
    background-color: black;
    color: white;
    height: 30px;
    font-size: 20px;
}
li {
    display: flex;
    justify-content: space-between;
}








